DOCKER_PREFIX=unige_events

# Backend
BACKEND_PORT=8080

# Frontend
FRONTEND_PORT=80

# Database
POSTGRES_PORT=5432
POSTGRES_DB=unige_events
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DIR=postgres_data