API_PORT=8080
WEB_PORT=5173

# Database
DB_NAME=unige_events
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

# Kafka
KAFKA_PORT=9092

# MinIO
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_WEB_PORT=9001

# Kong
KONG_PORT=8080