API_PORT=8080
WEB_PORT=5173

# Database
DB_NAME=unige_events
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

# Internal service-to-service token (same value on all services, stripped by Kong on ingress)
INTERNAL_TOKEN=

# OIDC
OIDC_AUTH_SERVER_URL=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_AUDIENCE=
OIDC_ROLE_NAMESPACE= # Bien mettre le namespace entre " "